body {
    background: black;
    color: #00ff00;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
}

.parent {
    padding: auto;
    margin: auto;
}

.clock {
    padding: 0;
    /* padding: .3em; */
    margin: auto;
    text-align: center;
    font-size: 5em;
    font-family: Nimbus Mono PS;
    font-weight: bold;
    /* font-family: Courier New; */
    /* border: 1px solid white; */
}

#clock1 {
    color: red;
    /* color: yellow; */
    /* font-family: Times New Roman; */
}

#clock2 {
    color: blue;
    /* color: magenta; */
    /* font-family: Arial; */
}

#clock3 {
    color: green;
    /* color: cyan; */
}
